# Убедитесь, что все текстовые файлы используют LF в репозитории
* text=auto

# Убедитесь, что скрипты оболочки используют LF
*.sh text eol=lf

# Убедитесь, что скрипты Maven используют LF
mvnw text eol=lf
mvnw.cmd text eol=crlf